body{
    background-image: url("mountain.png");
    height: 90vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.scale{
    transition: .3s;
}
.scale:hover{
    transform: scale(1.01);
    cursor: pointer;
    
}

.fa-circle-xmark:hover{
    opacity: 0.7;
}

